/*
 * Copyright 2017 The boardgame.io Authors
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

#board {
  border-collapse: collapse;
}

#winner {
  margin-top: 25px;
  width: 168px;
  text-align: center;
}

.card {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #b8b8b8;
  width: 60px;
  height: 120px;
  border: 3px solid #aaa;
  background: #fff;
  display: inline-block;
}

.card p {
  margin-block-start: .5em;
  margin-block-end: 0;
}

.card .top {
  font-size: 35px;
  color: black;
}

.card:hover {
  background: #eeffff;
}

.card.selected {
  border-width: 6px;
}

.currentSet {
  margin-top: 20px;
  margin-bottom: 20px;
}